<div class="container">
    <div class="row">
        <div class="column column-1">
            <p class="flight-number">&#x2708; {{ flight.flightNumber }}</p>
            <div class="departure-arrival__time">
                <mat-icon class="departure-arrival__icon">flight_takeoff</mat-icon>
                <span class="departure-arrival__text main-info"> {{ flight.departureTime | getTimeISO: true }}</span>
            </div>

            <div class="departure-arrival__time">
                <mat-icon class="departure-arrival__icon">flight_land </mat-icon>
                <span class="departure-arrival__text main-info"> {{ flight.arrivalTime | getTimeISO: true }}</span>
            </div>
        </div>
        <div class="column column-2">
            <p>Flight duration</p>
            <p class="main-info">{{ flight.duration.locale }}</p>
            <p class="additional-info--small">{{ flight.origin.code + '-' + flight.destination.code }}</p>
        </div>
        <div class="column column-3">
            <p>Seats</p>
            <p>economy: {{ flight.aircraft.passengerCapacity.main }}</p>
            <p>first: {{ flight.aircraft.passengerCapacity.first }}</p>
        </div>
        <div class="column column-4">
            <p class="main-info">{{ (flight.distance * 0.12 ).toFixed(2) }} $</p>
        </div>
        <div class="column column-5">
            <app-button (btnClick)="btnClick(flight)" type="flat">
                <mat-icon>expand_more</mat-icon>
            </app-button>
        </div>
    </div>
</div>