@import "../../../../../scss/variables";

.container {
  padding: 1rem;
  border-bottom: 1px solid $medium-grey;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-extendable {
  padding: 1rem;
  border-radius: 4px;
  background-color: $primary-light;
}

.flight-number {
  padding: 0 0.5rem;
  color: $primary-navy;
  width: fit-content;
  border-radius: 50px;
  background-color: $primary-light;
}

.departure-arrival__time {
  padding: 0.1rem;
}

.airplane-info {
  padding-top: 1rem;
}

.departure-arrival__icon {
  margin-right: 0.5rem;
  color: $primary-light-navy;
}

.main-info {
  margin: 0;
  font-weight: 500;
}

.additional-info--normal {
  color: $primary-light-navy;
}

.additional-info--small {
  color: $primary-light-navy;
  font-size: 0.8rem;
}

.ticket-status-badge {
  border-radius: 25px;
  padding: 0.1rem 0.3rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  span, mat-icon {
    display: inline;
    padding-right: 0.2rem;
  }

  mat-icon {
    font-size: 20px;
  }
}

.ticket-status-badge--booked {
  // border: 1px solid $info-blue;
  // color: $info-blue;
  background-color: $info-blue;
}

.ticket-status-badge--purchased {
  // border: 1px solid $info-green;
  // color: $info-green;
  background-color: $info-green;
}