@import "../../../../scss/variables";

mat-button-toggle-group {
  border: none;
}

.mat-button-toggle {
  margin: 5px;
  padding: 0 15px;
  border-radius: 35px;
  overflow: hidden;
}

// .mat-button-toggle-checked {
//     background-color: $primary-dark-navy;
// }
