@import "../../../scss/variables";

.container {
  padding: 1rem;
}

.bookings-container {
  margin-top: 5rem;
  padding: 0 5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-booking {
  margin: 1rem 0;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 4px;
  background-color: $primary-light;
}

.flight-number {
  padding: 0 0.5rem;
  color: $primary-navy;
  width: fit-content;
  border-radius: 50px;
  background-color: $primary-light;
}

.departure-arrival__time {
  padding: 0.1rem;
}

.airplane-info {
  padding-top: 1rem;
}

.departure-arrival__icon {
  margin-right: 0.5rem;
  color: $primary-light-navy;
}

.main-info {
  margin: 0;
  font-weight: 500;
}

.additional-info--normal {
  color: $primary-light-navy;
}

.additional-info--small {
  color: $primary-light-navy;
  font-size: 0.8rem;
}

.column-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.price {
  flex-basis: 100%;
}

.ticket-status-badge {
  margin: 0 0.5rem;
}

.ticket-status-badge--expired {
  color: $info-red;
}
