@import "./variables";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav {
  background: $primary-navy;
}

.m-5 {
  margin: 5px !important;
}

.mat-icon {
  vertical-align: middle;
}

.mat-mdc-select-value {
  width: fit-content;
}

.info-tooltip-icon {
  color: $info-blue;
}

.info-good {
  color: $info-green;
}
