$primary-light: #f1f6f9;
$primary-navy: #394867;
$primary-dark-navy: #212a3e;
$primary-light-navy: #9ba4b5;

$light-grey: #fafafa;
$medium-grey: #e0e0e0;
$dark-grey: grey;

$info-green: #aacc00;
$info-blue: #1e90ff;
$info-red: #ec7063;

$light-accent: #a7ceff;
